<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>

        <behavior name="MyBehaviour">
         <serviceMetadata />
        </behavior>
      
       <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
      
    <services>
      <!--<service behaviorConfiguration="MyBehaviour" name="LuxBio.Webservice">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="InsecureTcp"
          name="MyServiceEndpoint" contract="LuxBio.Webservice.IService1" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="MyServiceMexTcpBidingEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:12345/Service1.svc" />
          </baseAddresses>
        </host>
      </service>-->
      
<service behaviorConfiguration="MyBehavior" name="LuxBioWebservice">
		<endpoint address="" 
				  binding="netTcpBinding" 
				  bindingConfiguration="InsecureTcp"
				  name="MyServiceEndpoint" 
				  contract="LuxBio.Webservice.IService1">
			<identity>
				<dns value="localhost" />
			</identity>
		</endpoint>
 
		<endpoint address="mex" 
				  binding="mexTcpBinding" 
				  bindingConfiguration=""
				  name="MyServiceMexTcpBidingEndpoint" 
				  contract="IMetadataExchange" />
			<host>
				<baseAddresses>
					<add baseAddress="net.tcp://localhost:12345/Service1.svc" />
				</baseAddresses>
			</host>
		</service>
      
        
      <!--<service name="LuxBioWebservice" behaviorConfiguration="MyBehaviour">
           <host>
              <baseAddresses>
                <add baseAddress="net.tcp://localhost:12345/Service1.svc"/>
              </baseAddresses>
           </host>
           <endpoint address=""
                     binding="netTcpBinding"
                     bindingConfiguration="InsecureTcp"
                     contract="LuxBio.Webservice.IService1" />
           <endpoint address="mextcp" binding="mexTcpBinding" contract="IMetadataExchange"/>
    </service>-->
      <!--<service name="LuxBio.Webservice.Service1">
        <endpoint address="" binding="basicHttpsBinding"
          bindingConfiguration="BasicHttpWebBinding" name="basicHttp"
          contract="LuxBio.Webservice.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:63841/Service1.svc" />
          </baseAddresses>
        </host>
      </service>-->
    </services>
    
     <bindings>
        <netTcpBinding>
           <binding name="InsecureTcp" portSharingEnabled="true">
              <security mode="None" />
           </binding>
        </netTcpBinding>
        <basicHttpsBinding>
           <binding name="BasicHttpWebBinding" />
        </basicHttpsBinding>
     </bindings>
    
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>-->



    <protocolMapping>
      
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="netTcpBinding" scheme="tcp" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
