<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="LuxBio.Library.Properties.Settings.dmaa0914_3Sem_3ConnectionString" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0914_3Sem_3;Persist Security Info=True;User ID=dmaa0914_3Sem_3;Password=IsAllowed" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>