<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="LuxBio.Library.Properties.Settings.dmaa0914_3Sem_3ConnectionString" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>